.brand {
    text-align: center;
    font-family: "Snell Roundhand";
    font-weight: normal;
    font-size: 60px;
}
.nav-links {
    display: flex;
    justify-content: space-evenly;
    border: 3px solid black;
    align-items: center;
    margin: 0;
    padding: 30px;
}   
.site-section {
    list-style-type: none;

}
.site-section:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #666;
}
.section-link {
    color: #666;
    font: "Futura";
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}